# –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ No3
## –ó–∞–¥–∞—á–∞:
- –∏–º–µ—é—Ç—Å—è —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö –≥–µ–Ω–æ–º–æ–≤ 2 –∂–∏–≤–æ—Ç–Ω—ã—Ö (–∫–∞–∫–∏–µ –∂–∏–≤–æ—Ç–Ω—ã–µ - —è –æ–∑–≤—É—á—É —á—É—Ç—å –ø–æ–∑–∂–µ –ø–æ—Å–ª–µ –≤–∞—à–µ–≥–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è) –≤ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö —Ñ–∞–π–ª–∞—Ö (2 —Ñ–∞–π–ª–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –ø—Ä–∏–ª–æ–∂–µ–Ω—ã –∫ –∑–∞–¥–∞–Ω–∏—é)
- –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ —Ä–∞—Å—á–µ—Ç—ã –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é ‚Äú–±–ª–∏–∑–æ—Å—Ç–∏‚Äù –¥–≤—É—Ö –≥–µ–Ω–æ–º–æ–≤, –∏—Å–ø–æ–ª—å–∑—É—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å —Å–∏–º–≤–æ–ª–æ–≤-—à–∏–Ω–≥–ª–æ–≤ (k=2, 5, 9). –ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∞–º–∏–Ω–æ–∫–∏—Å–ª–æ—Ç TCAGACTT –ø—Ä–∏ k=2 —É –Ω–∞—Å –ø–æ–ª—É—á–∞–µ—Ç—Å—è –Ω–∞–±–æ—Ä —ç–ª–µ–º–µ–Ω—Ç–æ–≤: {TC, CA, AG, GA, AC, CT, TT}
- –¥–ª—è —ç—Ç–æ–≥–æ —Å–æ–∑–¥–∞–π—Ç–µ –º–æ–¥–µ–ª—å –¥–∞–Ω–Ω—ã—Ö –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–µ–π –¥–ª—è k=2, 5, 9.
- –∑–∞–≥—Ä—É–∑–∏—Ç–µ –≤ –≤–∞—à–∏ —Ç–∞–±–ª–∏—Ü—ã –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ —Å–∏–º–≤–æ–ª–æ–≤ –¥–ª—è k=2, 5, 9, –∏—Å–ø–æ–ª—å–∑—É—è –∑–Ω–∞–∫–æ–º—ã–µ –≤–∞–º –º–µ—Ö–∞–Ω–∏–∑–º—ã –ø–∞—Ä—Å–∏–Ω–≥–∞ —Ç–µ–∫—Å—Ç–∞ (bash, Java, Python, SQL, Excel, AI ...)
- –Ω–∞–ø–∏—à–∏—Ç–µ –æ–¥–∏–Ω SQL –∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ñ–æ—Ä–º—É–ª—É –ñ–∞–∫–∫–∞—Ä–∞ –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è –æ—Ç–¥–µ–ª—å–Ω–æ –¥–ª—è –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–µ–π —Å–∏–º–≤–æ–ª–æ–≤ k=2, 5, 9.  
`ùêΩ = (|ùê¥ ‚ãÇ ùêµ|)/(|ùê¥ ‚ãÉ ùêµ|)`

| –ó–Ω–∞—á–µ–Ω–∏–µ k | –ó–Ω–∞—á–µ–Ω–∏–µ J |
| ---------- | ---------- |
| 2 | ? |
| 5 | ? |
| 9 | ? |

## –°–æ–∑–¥–∞–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î

In [120]:
import psycopg2
from tabulate import tabulate

### –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL
connection = psycopg2.connect(
    host="localhost",
    port="5432",
    database="",
    user="",
    password="",
)
### –°–æ–∑–¥–∞–Ω–∏–µ –∫—É—Ä—Å–æ—Ä–∞
cursor = connection.cursor()

print("–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL —É—Å–ø–µ—à–Ω–æ.")

–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL —É—Å–ø–µ—à–Ω–æ.

## –°–æ–∑–¥–∞–Ω–∏–µ —Å—Ö–µ–º—ã

In [121]:
cursor.execute("CREATE SCHEMA IF NOT EXISTS ivan_patakin;")
connection.commit()

print("–°—Ö–µ–º–∞ 'ivan_patakin' —Å–æ–∑–¥–∞–Ω–∞.")

–°—Ö–µ–º–∞ 'ivan_patakin' —Å–æ–∑–¥–∞–Ω–∞.

## –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [122]:
with open('Data/Lab3/Genome_1-1.txt') as f:
    genome1 = f.read().strip()
with open('Data/Lab3/Genome_2-1.txt') as f:
    genome2 = f.read().strip()

In [123]:
def get_shingles(seq, k):
    return {seq[i:i+k] for i in range(len(seq)-k+1)}

shingles = {}
for k in (2, 5, 9):
    s1 = get_shingles(genome1, k)
    s2 = get_shingles(genome2, k)
    shingles[k] = (s1, s2)

## –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [124]:
for k in (2, 5, 9):
    cursor.execute(f"""
        CREATE TABLE IF NOT EXISTS ivan_patakin.shingles_k{k} (
            shingle TEXT NOT NULL,
            source INTEGER NOT NULL
        );
    """)

connection.commit()

## –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [135]:
for k in (2, 5, 9):
    data = [(s, 1) for s in shingles[k][0]] + [(s, 2) for s in shingles[k][1]]
    cursor.executemany(
        f"INSERT INTO ivan_patakin.shingles_k{k} (shingle, source) VALUES (%s, %s)", data
    )
connection.commit()

## –°–æ–∑–¥–∞–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–æ–≤

In [136]:
query = """
WITH j2 AS (
  SELECT 
    (SELECT COUNT(DISTINCT a.shingle) FROM ivan_patakin.shingles_k2 a JOIN ivan_patakin.shingles_k2 b
     ON a.shingle=b.shingle WHERE a.source=1 AND b.source=2) AS inters,
    (SELECT COUNT(DISTINCT shingle) FROM (
         SELECT shingle FROM ivan_patakin.shingles_k2 WHERE source=1
         UNION
         SELECT shingle FROM ivan_patakin.shingles_k2 WHERE source=2
     )) AS uni
),
j5 AS (
  SELECT 
    (SELECT COUNT(DISTINCT a.shingle) FROM ivan_patakin.shingles_k5 a JOIN ivan_patakin.shingles_k5 b
     ON a.shingle=b.shingle WHERE a.source=1 AND b.source=2) AS inters,
    (SELECT COUNT(DISTINCT shingle) FROM (
         SELECT shingle FROM ivan_patakin.shingles_k5 WHERE source=1
         UNION
         SELECT shingle FROM ivan_patakin.shingles_k5 WHERE source=2
     )) AS uni
),
j9 AS (
  SELECT 
    (SELECT COUNT(DISTINCT a.shingle) FROM ivan_patakin.shingles_k9 a JOIN ivan_patakin.shingles_k9 b
     ON a.shingle=b.shingle WHERE a.source=1 AND b.source=2) AS inters,
    (SELECT COUNT(DISTINCT shingle) FROM (
         SELECT shingle FROM ivan_patakin.shingles_k9 WHERE source=1
         UNION
         SELECT shingle FROM ivan_patakin.shingles_k9 WHERE source=2
     )) AS uni
)
SELECT 2 as k, ROUND(1.0*j2.inters/j2.uni,6) as J FROM j2 UNION ALL
SELECT 5 as k, ROUND(1.0*j5.inters/j5.uni,6) FROM j5 UNION ALL
SELECT 9 as k, ROUND(1.0*j9.inters/j9.uni,6) FROM j9;
"""

In [137]:
cursor.execute(query)
rows = cursor.fetchall()

headers = ["K", "Jaccard"]
print(tabulate(rows, headers=headers))

  K    Jaccard
---  ---------
  2   1
  5   1
  9   0.398709

In [138]:
cursor.execute("""
DROP TABLE IF EXISTS ivan_patakin.shingles_k2;
DROP TABLE IF EXISTS ivan_patakin.shingles_k5;
DROP TABLE IF EXISTS ivan_patakin.shingles_k9;
""")

connection.commit()
print("–¢–∞–±–ª–∏—Ü—ã —É–¥–∞–ª–µ–Ω—ã.")

–¢–∞–±–ª–∏—Ü—ã —É–¥–∞–ª–µ–Ω—ã.

In [140]:
cursor.close()
connection.close()